@{
    Layout = null;
}


<div id="footer">
    <div class="container">
        <div class="row" style="text-align: right;">
            © 2014 Cotide, Inc.   <a href="https://github.com/Cotide">My Github</a> | <a href="http://about.me/xcli">About Me</a>
            | <a href="#"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_4368997'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D4368997%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></a>
        
        </div>
    </div>
</div>
