@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404</title>
    <style type="text/css">
        BODY {
            font-size: 9pt;
            color: #842b00;
            line-height: 16pt;
            font-family: "Tahoma", "宋体";
            text-decoration: none;
        }

        TABLE {
            font-size: 9pt;
            color: #842b00;
            line-height: 16pt;
            font-family: "Tahoma", "宋体";
            text-decoration: none;
        }

        TD {
            font-size: 9pt;
            color: #842b00;
            line-height: 16pt;
            font-family: "Tahoma", "宋体";
            text-decoration: none;
        }

        BODY {
            scrollbar-highlight-color: buttonface;
            scrollbar-shadow-color: buttonface;
            scrollbar-3dlight-color: buttonhighlight;
            scrollbar-track-color: #eeeeee;
            background-color: #ffffff;
        }

        A {
            font-size: 9pt;
            color: #842b00;
            line-height: 16pt;
            font-family: "Tahoma", "宋体";
            text-decoration: none;
        }

            A:hover {
                font-size: 9pt;
                color: #0188d2;
                line-height: 16pt;
                font-family: "Tahoma", "宋体";
                text-decoration: underline;
            }

        H1 {
            font-size: 19pt;
            font-family: "Tahoma", "宋体";
        }

        .ErrorMessageContext {
            padding-top: 30px;
        }
    </style>



</head>
<body>
    <div class="ErrorMessageContext">
        <table cellspacing="0" width="600" align="center" border="0" cepadding="0">
            <tbody>
                <tr colspan="2">
                    <td valign="top" align="middle">
                    </td>
                    <td>
                    </td>
                    <td>
                        <h1>
                            404 error.
                        </h1>
                        <ins>Page Not Found.</ins>
                        HTTP 错误 404：您正在搜索的页面可能已经删除、更名或暂时不可用。
                        <hr noshade=noshade size="0" />
                        <p>
                            The requested URL
                            <code>/404.html</code> was not found on this server.  contact us <ins> xcli.code@gmail.com.</ins>
                        </p> 
                            <script type="text/javascript" src="http://www.qq.com/404/search_children.js?edition=small" charset="utf-8"></script> 
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
</body>
</html>

    


